{% extends "base.html" %}
{% load static %}
{% block searchform %}
{% endblock searchform %}
{% block content %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<center>
	<h1 id="judul" style="margin-top: 50px;">Search Users</h1>
	<div class="container" style="padding-top:50px">
	      	{% if not cari %}
	      	<br><br>
	      	
			<!-- <form class="input-group mb-3" method="get"> -->
				<input id="keyword" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius:90px;" type="text" class="form-control" name="q" placeholder="Search Users" aria-label="Search Users" aria-describedby="button-addon2">
				<div class="input-group-append">

				</div>
			<!-- </form> -->
			{% else %}
			<!-- <form  class="input-group mb-3" method="get"> -->
				<input id="keyword" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius:90px;" type="text" class="form-control" name="q" placeholder="Search Users" aria-label="Search Users" aria-describedby="button-addon2">
				<div class="input-group-append">

				</div>
			<!-- </form> -->
			
			
			<!-- {% for object in cari %}
			{% if not object.is_superuser %}
			{% if not object.person.id == from_user.id %}
			{% if object.person not in from_user.friends.all and object != request.user %}
			
			<div class="card text-center" style="margin: 0% 20% 0; border-radius:90px; background: linear-gradient(180deg, #898CF1 0%, #3BB4FF 100%);
			margin-bottom:15px;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);">
                    <div class="header" style="padding: 0% 5% 0%;">
                        <h5 style="color: white;margin-top:1%" class="card-title">{{object}}</h5>
                        <a style="margin-bottom:5px; border-radius:90px; margin: 0% 20% 1%;" class="btn btn-success btn-sm" href="/send_friend_request/{{from_user.id}}/{{object.person.id}}/">send friend request</a>
                    </div>
				</div>
			</div>
			
			{% endif %}
			{% endif %}
			{% endif %}
            {% endfor %} -->
	      	<br><br>
			{% endif %}
			<div class="container">
				<div id="result"
					class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 d-flex justify-content-center"
					style="margin: 2% 1%;">
				</div>
			</div>
	</div>
</center>
<style>
    body {
        background: url("{% static 'bg.png' %}");
        background-size: 100%;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}
	@media only screen and (max-width: 576px) {
        body {
            background: white;
            padding-top: 30px;
        }
    }
</style>

<script type="text/javascript">

    const varAn = $("#keyword").val();

    $("#keyword").ready(function () {
        search_user($("#keyword").val());
    })

    $("#keyword").keyup(function () {
        search_user($("#keyword").val());
    })

    console.log(varAn);

    function search_user(input) {
        $.ajax({

            url: '/searchajax/?q=' + input,

            success: function (data) {
                //assign items into array_items
                var array_items = data;
                $("#result").empty();

                //iterate every items in array_items
                for (i = 0; array_items.length; i++) {
                    //getting the title of the books
                    var index = array_items[i];
					console.log(index)
                    var nama = index.username;
                    var linkView = "/send_friend_request/" + {{from_user.id}} +"/" + index.id+"/"
					if (index.is_superuser){
						continue;
					} else if (index.id == {{from_user.id}}) {
						continue;
					}
                    $("#result").append(
                        '<div class="card text-center" style="margin: 0% 20% 0; border-radius:90px; background: linear-gradient(180deg, #898CF1 0%, #3BB4FF 100%);'+
						'margin-bottom:15px;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);">'+
                    '<div class="header" style="padding: 0% 5% 0%;">'+
                        '<h5 style="color: white;margin-top:1%" class="card-title">'+nama+'</h5>'+
                    	'<a style="margin-bottom:5px; border-radius:90px; margin: 0% 20% 1%;" class="btn btn-success btn-sm" href="'+linkView+'">send friend request</a>'+
                    '</div></div></div>'
                    );
                }
            }
		});
		$("#judul").mouseover(function() {
            $("#judul").css("color", "gold");
		});
		$("#judul").click(function() {
            $("#judul").css("color", "black");
		});
        $("#keyword").click(function() {
			document.getElementById("keyword").style.boxShadow = "10px 10px 20px blue";
		});
		$("#keyword").dblclick(function() {
			document.getElementById("keyword").style.boxShadow = "10px 10px 20px white";
		});
    }
</script>


{% endblock content %}
